<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867925220284-0e1adclh9es2a4gabpkninjs8se4st8q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867925220284-0e1adclh9es2a4gabpkninjs8se4st8q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867925220284-d2bt8g7usfbqtflhg1v1e6clk3osueou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8rGHrQ7Hdg1Jz9jfegzm0w4-C7gBzdJY</string>
	<key>GCM_SENDER_ID</key>
	<string>867925220284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meetpatel.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-95310</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-95310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867925220284:ios:88b42ed544f57e88a729b9</string>
</dict>
</plist>